<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create product</title>
</head>
<style>
    .error {
        color: red;
        font-size: small;
    }
</style>
<body>
<h1>Create product</h1>
<p>
    <a href="/admin">Products list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<form method="post" th:action="@{/admin/uploadFileCreate}" enctype="multipart/form-data" th:object="${image}">
    Image: <input type="file" th:field="*{multipartFile}"/><br/>
    <input type="submit" value="Submit"/><br/>
</form>
<form th:action="@{/admin/create}" th:object="${product}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td><span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input th:name="urlImage" th:value="${urlImage}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
            <td><span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
            <td><span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span></td>
        </tr>
        <tr>
            <td>Manufacturer:</td>
            <td>
                <select th:field="*{manufacturer}">
                    <option th:each="m : ${manufacturers}" th:value="${m.id}" th:text="${m.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create product"></td>
        </tr>
    </table>
</form>
</body>
</html>