<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<style>
    .img{
        width: 100px;
        height: 100px;
    }
</style>
<body>
<h1>Delete product</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/user/cart">Your Cart</a>
</p>
<form th:action="@{/user/delete}" th:object="${cart}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${cart.product.name}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><img class="img" th:src="@{'/image/' + ${cart.product.urlImage}}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td th:text="${cart.product.description}"/></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td th:text="${cart.product.price}"/></td>
        </tr>
        <tr>
            <td>Manufacturer:</td>
            <td th:text="${cart.product.manufacturer.name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete product"></td>
        </tr>
    </table>
</form>
</body>
</html>