<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<style>
    .img{
        width: 100px;
        height: 100px;
    }
</style>
<body>
<a href="/login">Login</a>
<a href="/user/cart">Your Cart</a>
<br/><a href="/admin">Admin</a>
<h1>Products</h1>
<span th:if="${keyword}">
    Search result for <code>"[[${keyword}]]"</code>, <a th:href="@{/}">click here to clear</a>.<br>
</span>
There are [[${products.totalElements}]] product(s).
<form>
    <label>
        Search by name or description:
        <input type="text" name="s">
    </label>
    <input type="submit" value="Search">
</form>
<br/>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Price(VND)</th>
        <th>Manufacturer</th>
        <th>Add to cart</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td><img class="img" th:src="@{'/image/' + ${product.urlImage}}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.manufacturer.name}"></td>

            <td><form th:action="@{/user/add/__${product.id}__}"  method="post">
                <input type="submit" value="Add to cart">
            </form></td>
        </tr>
    </th:block>
</table>
<br/><br/>
<div>
    <a th:if="${products.hasPrevious()}"
       th:href="@{'/'(page=${products.number - 1}, size=${products.size})}">
        Previous
    </a>
    [[${products.number + 1}]]/[[${products.totalPages}]]
    <a th:if="${products.hasNext()}"
       th:href="@{'/'(page=${products.number + 1}, size=${products.size})}">
        Next
    </a>
</div>
<a href="/logout">Logout</a>
</body>
</html>